beautifulsoup4==4.8.0
bert-embedding==1.0.1
bs4==0.0.1
certifi==2019.6.16
chardet==3.0.4
cycler==0.10.0
gluonnlp==0.6.0
graphviz==0.8.4
idna==2.8
joblib==0.13.2
kiwisolver==1.1.0
matplotlib==3.1.1
mxnet==1.4.0
nltk==3.4.5
numpy==1.14.6
pyparsing==2.4.2
python-dateutil==2.8.0
requests==2.22.0
scikit-learn==0.21.3
scipy==1.3.1
six==1.12.0
sklearn==0.0
soupsieve==1.9.3
tqdm==4.35.0
typing==3.6.6
urllib3==1.25.3
